## Header 
Auteur : Amina Matt  
Date de création : 27.12.2021  
Date de dernière modification: 27.12.2021   
Version : Python 3.8   
Description: Créer les objects d'une collection (books) en format  .md avec le format requis. Une boucle sur les objets pour remplir un tableau ([Datatable](https://www.datatables.net))

## Librairies

In [1]:
import pandas as pd

## Initialization

In [7]:
PATH = '../data/'
GENERATED_DATA = '../generated-data/'
CATALOG = PATH+'biblio_la_molene_catalogue.csv'

## Load

In [8]:
raw_data = pd.read_csv(CATALOG)

In [9]:
raw_data.head()

,NOM AUTEURICE,PRENOM AUTEURICE,& La pensée féministe au maghreb,EXEMPLAIRES,Unnamed: 4,Unnamed: 5
0,ABÉCASSIS,Eliette,9 Histoire Lumineuse ou le bien est le mal,16/24,NaN,NaN
1,ABIRACHED,Zeina,À cases égales - Des créatrices de BD romande...,42,NaN,NaN
2,ABIRACHED,Zeina,10 minutes et 38 secondes dans ce monde étrange,42,NaN,NaN
3,ABIRACHED\nENARD,Zeina\nMathias,100 Portraits contre l’état policier,42,NaN,NaN
4,ABOUET\nOUBRERIE,Marguerite\nClément,19 femmes,42,NaN,NaN

In [10]:
column_list = raw_data.columns
dataframe = raw_data.rename(columns={
    column_list[0]: 'Nom', 
    column_list[1]: 'Prénom',
    column_list[2]: 'Titre',
    column_list[3]: 'Catégorie'})

dataframe.head()

,Nom,Prénom,Titre,Catégorie,Unnamed: 4,Unnamed: 5
0,ABÉCASSIS,Eliette,9 Histoire Lumineuse ou le bien est le mal,16/24,NaN,NaN
1,ABIRACHED,Zeina,À cases égales - Des créatrices de BD romande...,42,NaN,NaN
2,ABIRACHED,Zeina,10 minutes et 38 secondes dans ce monde étrange,42,NaN,NaN
3,ABIRACHED\nENARD,Zeina\nMathias,100 Portraits contre l’état policier,42,NaN,NaN
4,ABOUET\nOUBRERIE,Marguerite\nClément,19 femmes,42,NaN,NaN

In [11]:
for i in range(6) :
    
    filename = str(i)+'.md'
    f = open(GENERATED_DATA+filename, "x")
     
    #row of interest 
    df = dataframe.iloc[i]
    
    # front matter markdown with
    f.write('---\n')
    f.write('Nom:  \''+df['Nom']+'\'\n')
    f.write('Prénom: \''+ df['Prénom']+'\'\n')
    f.write('Titre: \''+ df['Titre']+'\'\n')
    f.write('Catégorie: \''+df['Catégorie']+'\'\n')
    f.write('---')
    
    f.close()